<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jidu.aladdin.dao.admin.AdminMapper">
  <resultMap id="BaseResultMap" type="com.jidu.aladdin.entity.admin.AdminDemo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />

  </resultMap>

  <select id="getAllAdminList" resultMap="BaseResultMap">
    select * from ald_admin
  </select>

</mapper>