<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--引入公共的js和css-->
<head th:replace="common/layout :: common_head(~{::style})">
    <style>
        .list-img {
            height: 50px;
            cursor: pointer;
        }

        .layui-table-cell {
            height: 100%;
        }
    </style>
</head>

<body class="no-skin">

<!-- 顶部导航栏 -->
<div th:replace="common/nav::navbar" ></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>
    <!-- 左边导航栏 -->
    <div th:replace="common/nav::sidebar(activeUri='首页')"></div>
    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <!--<li>-->
                        <!--<i class="ace-icon fa fa-home home-icon"></i>-->
                        <!--<a href="#">Home</a>-->
                    <!--</li>-->

                    <li class="active">首页</li>
                </ul><!-- /.breadcrumb -->

            </div>

            <div class="page-content">

                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="alert alert-block alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                <i class="ace-icon fa fa-times"></i>
                            </button>

                            <i class="ace-icon fa fa-check green"></i>

                            欢迎使用
                            <strong class="green">
                                mutong的SpringBoot框架
                                <small>(v1.0)</small>
                            </strong>,
                            系统主要使用Spring-Boot框架+thymeleaf,后台页面使用Layui+Bootstart页面框架组成,居有良好的可适应性。
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <!--底部-->
    <div th:replace="common/nav::footer"></div>

    <!--回到顶部-->
    <div th:replace="common/nav::top"></div>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="assets/js/jquery-2.1.4.min.js" th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js" th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<script type="text/javascript">
    if('ontouchstart' in document.documentElement) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="assets/js/bootstrap.min.js" th:src="@{/assets/js/bootstrap.min.js}"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script src="assets/js/ace-elements.min.js" th:src="@{/assets/js/ace-elements.min.js}"></script>
<script src="assets/js/ace.min.js" th:src="@{/assets/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->
</body>
</html>
